.sign-placeholders {
    color:black;
}




.btn-primary {
        position:relative;
        right:60px;
        margin-left: 30px;
        top: 30px;
        background-color: #96B7A3;
        border-color:#96B7A3;

        }



 .navbar-default {
       background-color: #96B7A3;
       border-color: #96B7A3;
       height: 100px;

 }

 .btn-primary:hover {
          color: #fff;

           background-color: #96B7A3;
   
           border-color: #849189;
           border-width:1px;
 }   

 .modal-content {
    height:300px;
    width:350px;
    background-color: #96B7A3;
 }

 .sign-in {
        position:relative;
         top: 50px;
        left: 25%;

 }

 .sign-txt {
        color:white;
        text-shadow :1.5px 1.5px 2px grey;
        margin-left: 20px;
        margin-bottom: 20px;

  }


  .sign-up-link {
         position: relative;
         left: 263px;
         bottom: 5px;
   }

  #sign-in-btn {
          margin:10px;
  }

  #no-member {
        position: relative;
        top: 10px;
        left: 160px;
        margin: 10px;
   }

.form-control {
        position:relative;
        width:200px;
        left:100px;
}

.sign-up-form {
    
}















