.sign-placeholders {
    color:black;
}




.btn-primary {
        position:relative;
        right:60px;
        margin-left: 30px;
        top: 30px;
        background-color: #96B7A3;
        border-color:#96B7A3;

        }



 .navbar-default {
       background-color: #96B7A3;
       border-color: #96B7A3;
       height: 100px;

 }

 .btn-primary:hover {
          color: #fff;

           background-color: #96B7A3;
   
           border-color: #849189;
           border-width:1px;
 }   

 .modal-content {
    height:300px;
    width:350px;
    background-color: #96B7A3;
 }

 .sign-in {
        position:relative;
         top: 50px;
        left: 25%;

 }

 .sign-txt {
        color:white;
        text-shadow :1.5px 1.5px 2px grey;
        margin-left: 20px;
        margin-bottom: 20px;

  }


  .sign-up-link {
         position: relative;        
         left: 270px;
         bottom: 20px;
   }

  #sign-in-btn {
          margin:10px;
  }

  #no-member {
        position: relative;
        top: 10px;
        left: 160px;
        margin: 10px;
   }

  .sign-placeholders {
        position:relative;
        left:40%;
        top:-620px;
  }

  .form1 {
        position:relative;
        top:-620px;
        left:40%;
        width:300px;
        border-style: solid;
        border-width: 2px;
        border-color: #849189;

  }

  #profile-create {
    position:relative;
    top:-600px;
    left:49%;

  }

   #profile-create:hover {
    color:white;
    background-color: #849189;

  }

  .btn-default {
    box-shadow: 1.5px 1.5px 2px #888888;

}

 #sign-in-btn:hover {
    color:white;
    background-color: #849189;

  }

 body {
    font-family: 'Open Sans', sans-serif;
 }


.sign-up-txt {
    background-color: #337AB7;
    position: relative;
    height: 610px;
    width: 200px;
    top: -20px;
}

#sign-up-direction {
    color:white;
    position:relative;
    top:200px;

}







